---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "blockscout.fullname" . }}-db
  labels:
    {{- include "blockscout.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "blockscout.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: database

