---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "blockscout-frontend.fullname" . }}
  labels:
    {{- include "blockscout-frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "blockscout-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "blockscout-frontend.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: frontend
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.frontend.service.targetPort }}
          protocol: TCP
        envFrom:
        - configMapRef:
            name: {{ include "blockscout-frontend.fullname" . }}-env
        resources:
          {{- toYaml .Values.frontend.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: {{ .Values.frontend.livenessProbe.path }}
            port: http
            scheme: HTTP
          {{- with .Values.frontend.livenessProbe.params }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        readinessProbe:
          httpGet:
            path: {{ .Values.frontend.readinessProbe.path }}
            port: http
            scheme: HTTP
          {{- with .Values.frontend.readinessProbe.params }}
          {{- toYaml . | nindent 10 }}
          {{- end }}

